# Archivos de Visual Studio
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# Binarios y obj
bin/
obj/

# Archivos de dependencias
packages/
*.nupkg
*.snupkg

# Archivos de compilación
*.dll
*.exe
*.pdb
*.cache
*.log

# Publicaciones
publish/
TestResults/
*.TestResults

# Configuraciones de usuario
*.userprefs

# Archivos de Rider/JetBrains
.idea/
*.sln.iml

# Otros
*.dbmdl
*.bak
*.backup
*.swp
